body {
  margin: 0 auto;
  background-color: #579BB1;
}
.main {
  height: calc(100vh - 400px);
  background-color: lavender;
  margin: auto;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14%;
  border-radius: 10px;
}
.main a {
  color: black;
  padding: 30px;
  text-decoration: none;
  border: 3px solid #579BB1;
  border-radius: 10px;
}
.main a:hover {
  background-color: #579BB1;
  color: beige;
  text-decoration: underline;
}
.main a:active {
  background-color: blue;
  color: red;
}
@media only screen and (max-width: 1120px) {
  .main a {
    display: block;
    padding: 15px;
    margin-bottom: 10px;
  }
}