body {
  margin: 0 auto;
  background-color: #ececec;
}
#navbar {
  background-color: #625c5c;
  height: 70px;
  border-bottom: 1px solid #ececec;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.left {
  float: left;
  display: flex;
}
.right {
  float: right;
  display: flex;
  align-self: center;
}
.right img {
  height: 50px;
  margin-top: 7px;
}
.left img {
  height: 50px;
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 5px;
}
.left h2 {
  display: inline;
  color: #fff;
}
.main {
  height: calc(100vh - 71px);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#sidebar {
  background-color: #625c5c;
  height: calc(100vh - 71px);
  float: left;
  width: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.side {
  padding: 15px;
  line-height: 25pt;
}
.side nav a {
  color: #fff;
}
.side nav a.active {
  color: #4ba484;
  text-decoration: none;
}
#container > h2 {
  text-decoration: underline;
  margin-top: 0;
}
#container {
  padding: 15px 0 15px 15px;
  overflow: hidden;
}
.green-bg {
  background-color: #09cd82;
}
.purple-bg {
  background-color: #a259ff;
}
.red-bg {
  background-color: #f34e1e;
}
.cyan-bg {
  background-color: #1cbbfd;
}
.grey-bg {
  background-color: #625e5f;
}
.orange-bg {
  background-color: #ff6e61;
}
#tile-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
}
#circle-container, 
#tile-container { 
  display: flex;
}
.tile {
  width: calc(((100%) / 4) - 15px);
  height: 150px;
  float: left;
  margin-right: 15px;
  margin-bottom: 80px;
}
.circle,
.chart {
  width: calc(((100vw) / 4) - 15px);
  height: calc((100vw - 300px) / 4);
  float: left;
  margin-right: 15px;
}
.circle,
.inner-circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.on {
  width: 70%;
  height: 70%;
}
.tw {
  width: 90%;
  height: 90%;
  background-color: white;
}
.thre {
  width: 40%;
  height: 40%;
}
.on,
.thre h2 {
  color: white;
}
.fou {
  width: 90%;
  height: 90%;
  background-color: #ff7163;
}
.bar {
  width: 15px;
  position: absolute;
}
.chart {
  position: relative;
  display: block;
}
.chart div {
  bottom: 0;
}
.one {
  left: 0;
  height: calc(100% - 30px);
}
.two {
  left: 45px;
  height: calc(100% - 150px);
}
.three {
  left: 90px;
  height: calc(100% - 120px);
}
.four {
  left: 135px;
  height: calc(100% - 210px);
}
.five {
  left: 180px;
  height: calc(100% - 80px);
}
.six {
  left: 225px;
  height: calc(100% - 240px);
}
.line {
  width: 100%;
  height: 15px;
  background-color: #5f595b;
  position: absolute;
}
